[Desktop Entry]
Encoding=UTF-8
Name=Workrave
Comment=Repetitive Strain Injury prevention and recovery
Exec=workrave
Icon=/usr/share/pixmaps/workrave/workrave-icon-huge.png
Terminal=false
Type=Application
Categories=Application;Utility;
